body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('/images/background_main.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* * {
  margin: 0;
} */

.app {
  /* background: #111; */
}
