/* Row.css */

.row {
  margin-left: 20px;
  color: white;
}

h2 {
  padding-left: 20px;
  color: white;
}

.slider {
  position: relative;
  display: flex;
}

.slider__arrowleft,
.slider__arrowright {
  background-clip: content-box;
  padding: 20px 0;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 1000;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.slider__arrowleft:hover,
.slider__arrowright:hover {
  background: rgba(20, 20, 20, 0.5);
}

.arrow {
  transition: 400ms all ease-in-out;
}

.arrow:hover {
  transform: scale(1.5);
}

.slider:hover .slider__arrowleft,
.slider:hover .slider__arrowright {
  visibility: visible;
}

.row__posters {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px 0;
  scroll-behavior: smooth;
}

.row__poster {
  flex-shrink: 0;
  width: 200px;
  max-height: 300px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;
}

.row__poster:hover {
  transform: scale(1.08);
}

@media screen and (min-width: 1200px) {
  .row__poster {
    max-height: 360px;
  }
}

@media screen and (max-width: 768px) {
  .row__poster {
    max-height: 280px;
  }
}
